<%= render 'home/list-h' %>

<p style="font-size: 35px; margin: 10px 0 0 150px;">
	Welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers!
</p>

<%= render 'home/list-f' %>