<%= render 'home/list_h' %>

<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-offset-3">

			<p style="font-size: 35px; margin: 20px 0 20px 0;">
			Welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers !!
			</p>
			<p style="color: #513743;">
				ここはaboutページです。
				とくに何もない！<br>
				さあ早くsign_upかlog_inするんだ。
			</p>

		</div>
	</div>
</div>

<%= render 'home/list-f' %>